rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        // Allow access to voterIDs collection
        match /voterIDs/{document} {
            allow read, write: if true; 
        }
        
        // Allow access to voters collection (which stores voter details)
        match /voters/{document} {
            allow read, write: if true; 
        }
        
        // Allow access to face_verifications collection
        match /face_verifications/{document} {
            allow read, write: if true; 
        }
    }
}
